<p id="notice"><%= notice %></p>

<p>
  <strong>期日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category_id %>
</p>

<p>
  <strong>名前:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>できたか:</strong>
    <%= @task.dune %> 
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user_id %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
